<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="./favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="./_app/immutable/assets/2.Bv43ZWCI.css" rel="stylesheet" />
    <link rel="modulepreload" href="./_app/immutable/entry/start.BU_md4wu.js" />
    <link
      rel="modulepreload"
      href="./_app/immutable/chunks/entry.BK8VPGMr.js"
    />
    <link
      rel="modulepreload"
      href="./_app/immutable/chunks/scheduler.BvLojk_z.js"
    />
    <link rel="modulepreload" href="./_app/immutable/entry/app.Cj2O8le2.js" />
    <link
      rel="modulepreload"
      href="./_app/immutable/chunks/index.CL1isplV.js"
    />
    <link rel="modulepreload" href="./_app/immutable/nodes/0.CqA0jP6B.js" />
    <link rel="modulepreload" href="./_app/immutable/nodes/2.DqbQMNcU.js" />
  </head>
  <body data-sveltekit-preload-data="hover">
    <div style="display: contents">
      <title>New Easel</title>
      <div id="canvas" class="svelte-6aplyn">
        <input
          style="
            font-size: 25px;
            margin-top: 20px;
            font-weight: 800;
            text-align: center;
            position: absolute;
            transform: translateX(calc(50vw - 200px));
          "
          placeholder="New Easel"
          value=""
        />
      </div>
      <div id="toolbar" class="svelte-6aplyn">
        <button id="selected" class="tbbutton">arrow_selector_tool</button
        ><button id="unselected" class="tbbutton">text_fields</button>
        <button class="tbbutton" data-svelte-h="svelte-12ieyau">
          ios_share
        </button>
      </div>

      <script src="./main.js"></script>
    </div>
  </body>
</html>
