#urlbar {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 200px !important;
  padding: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;

  height: 30px !important;
  width: calc(100% - 200px) !important;

  text-align: center;
  -moz-border-radius: 100px !important;
  z-index: 1;
}

/* overlay for when the URL bar is focused, ESC closes this overlay */
#urlbar:is([breakout][breakout-extend]) {
  marging-top: 0px !important;
  margin-right: 20vw !important;
  margin-left: 20vw !important;
  padding: 10px !important;

  top: 30% !important;

  height: unset !important;
  width: 60vw !important;
  position: fixed !important;

  text-align: left !important;
  z-index: 10000 !important;

  /* add overlay when focusing URL bar input */
  &:before {
    content: "";
    position: fixed;
    pointer-events: none;

    width: 100vw;
    height: 100vh;

    top: 0px;
    left: 0px;

    background-color: #000000;
    opacity: 0.5;
    backdrop-filter: blur(300px);
  }
}

#urlbar-background,
#searchbar {
  margin: 5px !important;

  border-radius: 200px !important;
  border-color: transparent !important;

  #urlbar[open] & {
    border-radius: 8px !important;
    border-color: transparent !important;
    outline: 0px solid !important;

    &:not(:-moz-lwtheme) {
      outline-color: transparent !important;
    }
  }
}

#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: 0 !important;
  align-items: center !important;
}

#urlbar-background {
  background-color: var(--lwt-accent-color) !important;
}

#identity-box *:not(#page-proxy-favicon) {
  display: none !important;
}
