#TabsToolbar,
#navigator-toolbox,
#toolbar-menubar {
  visibility: collapse !important;
}

#titlebar {
  -moz-appearance: none !important;
  height: 20px !important;
  margin-top: -5px !important;
  margin-left: -5px !important;
  margin-right: -5px !important;
  background-color: transparent !important;
  position: fixed !important;
  width: calc(100% + 10px) !important;
  z-index: 9999 !important;
  -webkit-app-region: drag !important;
}

#browser {
  border: 7px solid #3b3f52 !important;
  browser-radius: 15px;
  box-sizing: border-box;
  background: #3b3f52;
}

#appcontent {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

/* Hide the sidebar title */
#sidebar-header {
   display: none;
}

/* Fix the sidebar size */
#sidebar-box {
  min-width: 250px !important;
  max-width: 300px !important;
  min-height: unset !important;
  max-height: unset !important;
  border-right: none !important;
}

#sidebar-splitter {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}