<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>arcfox-core</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="sidebar">
      <div id="sidebar-header">
        <div id="page-control">
          <div id="action-buttons">
            <button id="close"><i class="fa-solid fa-circle"></i></button>
            <button id="size"><i class="fa-solid fa-circle"></i></button>
            <button id="hide"><i class="fa-solid fa-circle"></i></button>
          </div>
          <!-- Settings 
           <button id="settings"><i class="fa-solid fa-gear"></i></button>
        -->
          <button id="back"><i class="fa-solid fa-arrow-left"></i></button>
          <button id="front"><i class="fa-solid fa-arrow-right"></i></button>
          <button id="refresh"><i class="fa-solid fa-rotate-right"></i></button>
        </div>
        <div class="address-bar">
          <input id="search-input" type="text" placeholder="Search..." />
        </div>
        <div id="favorites"></div>
        <div id="space-info">
          ✨
          <input id="space-name" value="Space 1" />
        </div>
      </div>
      <div id="sidebar-content">
        <hr />
        <button id="new-tab-button">+ New Tab <span>Ctrl+T</span></button>
        <ul id="tab-list"></ul>
      </div>
    </div>
    <div id="create-new" class="floating-div" popover>
      <button id="b1" class="floating-button" popovertarget="create-new">
        <i class="fa-regular fa-note-sticky"></i> New Note
      </button>
      <button id="b2" class="floating-button" popovertarget="create-new">
        <i class="fa-regular fa-square-plus"></i> New Tab
      </button>
    </div>
    <div id="archive" class="floating-div" popover>
      <h3>Coming soon!</h3>
      <p>
        Library stores all the stuff you've visited, downloaded, created, or
        saved on Arc.
      </p>
      <a
        href="https://resources.arc.net/hc/en-us/articles/19230634389911-Library-A-home-for-your-downloads-archived-tabs-easels-and-more"
        >Learn more</a
      >
    </div>
    <div class="footer">
      <button id="archive" popovertarget="archive">
        <i class="fa-solid fa-box-archive"></i>
      </button>
      <button id="new" popovertarget="create-new">
        <i class="fa-regular fa-plus"></i>
      </button>
    </div>
    <script src="sidebar.js"></script>
  </body>
</html>
