* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: red;
}

.window-control {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.window-button {
    border-radius: 100%;
    height: auto;
    width: 14px;
}

#close-sidebar {
    height: auto;
    width: 14px;
}

.close {
    background: transparent;
    color: transparent;
    font-weight: bold;
}

.close:hover {
    color: white;
}

.search {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    gap: 10px;
    height: 20px;
}

#search-bar {
    width: 100%;
    overflow-x: hidden;
    background: transparent;
    border: none;
    height: 20px;
    display: flex;
    gap: 6px;
}

#search-bar:focus {
    outline: none;
    background: transparent;
    box-shadow: none;
}

.linktools {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#space-name {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#new-tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    height: 32px;
    border-radius: 8px;
}

#new-tab:hover {
    background-color: var(--hover-color) !important;
}

#tab-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    height: 32px;
}

.tab:hover:not(.active) {
    background-color: var(--hover-color) !important;
}

.tab > .infos {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 75%;
}

.tab > .infos > .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab > .infos > .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.tab .close{
    padding: 5px;
}

[draggable="true"] > * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.folder {
    background: lightgray;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    animation: spin 1s linear infinite;
}

#tab-context-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background: white;
    border: 1px solid black;
    gap: 5px;
    padding: 10px;
    outline: none;
}

#tab-context-menu > button {
    background-color: white;
}

#tab-context-menu > button:hover {
    background-color: gray;
}

#tab-context-menu.active {
    display: flex;
}


#folder-container {
    background-color: lightgray;
    min-height: 100px;
}