@font-face {
  font-family: Nunito;
  src: URL("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

:root {
  --outlineColor: #d0d0d02f;
  --sidebarBackground: linear-gradient(#3d5952, #4c4a3e);
  --sidebarFooterBackground: linear-gradient(#513d59, 0%, #4c4a3e);
  --themeColorLight: #d7fff2df;
  --themeColorDark: #63908182;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
::selection {
  background-color: #565c78;
}

#sidebar {
  width: 100% !important;
  position: fixed;
  top: 0;
  bottom: 0;
  background: var(--sidebarBackground);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
  padding-left: 2px;
  padding-bottom: 48px;
}

#sidebar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#sidebar-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid var(--outlineColor);
}

#sidebar-header button {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background: transparent;
  color: white;
}

#sidebar-header button i {
  font-size: 15px;
  color: #aac2d3;
  color: var(--themeColorLight);
  filter: grayscale(0.2);
  opacity: 0.8;
  &:hover {
    color: white;
  }
}

#page-control {
  display: flex;
  margin: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  gap: 7px;
}

#action-buttons {
  display: flex;
  margin-right: auto;
  gap: 7px;
}

.address-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  background: #00000038;
  margin-right: -3px;
  transition: scale 0.1s;
  &:active {
    scale: 0.98;
  }
}

.address-bar i {
  color: white;
}

#sidebar-header input {
  border: none;
  width: 100%;
  font-size: 15px;
  color: white;
  text-decoration: none;
  background: none;
  outline: none;
}

#sidebar-content {
  display: block;
  overflow-y: auto;
  height: calc(100% - 63px);
  margin: 0 12px;
}

#sidebar-content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px 0;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 110px;
}

#sidebar-content ul li {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 10px;
  width: 100%;
  border-radius: 12px;
  color: white;
  transition: scale 0.2s;
  &:hover {
    background: #00000024;
  }
  &.active {
    background-color: #ffffff1f;
    &:hover {
      background-color: #ffffff2c;
    }
  }
  &:active {
    scale: 0.97;
  }
}

.tab-title {
  color: #fff;
  width: 90%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar-content ul li img {
  margin-right: 10px;
  width: 16px;
  pointer-events: none;
}

.fa-globe {
  margin-right: 10px;
  font-size: 20px;
}

#sidebar-content ul li[data-pinned="true"] {
  display: none !important;
}

// New Tab Button
#sidebar-content button#new-tab-button {
  padding: 10px;
  border-radius: 12px;
  border: none;
  display: block;
  font-size: 14px;
  background-color: transparent;
  margin-top: 10px;
  width: 100%;
  color: var(--themeColorLight);
  filter: grayscale(0.5);
  transition: scale 0.2s;
  &:hover {
    background-color: #ffffff21;
    color: white;
  }
  &:active {
    scale: 0.97;
  }
}

#sidebar-content button#new-tab-button span {
  opacity: 0;
  position: relative;
  float: right;
}

#sidebar-content button#new-tab-button:hover span {
  opacity: 1;
}

#sidebar-content ul li button {
  display: none;
}

#sidebar-content ul li:hover button {
  display: block;
  background: transparent;
  color: #fff;
  margin-left: auto;
  border-radius: 7px;
  padding: 3px 8px;
  margin-right: 5px;
  border: 0;
  scale: 1.3;
  transform: translateX(5px);
}

#sidebar-content ul li:hover button:hover {
  background: rgba(0, 0, 0, 0.1);
}

div#space-info {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
}

div#space-info input {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 600;
  color: var(--themeColorLight);
  filter: grayscale(0.5);
  opacity: 0.8;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--sidebarFooterBackground);
  padding: 18px;
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 1px;
  background: var(--outlineColor);
  transform: translateX(-50%);
}

.footer button {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
  transition: 0.2s;
}

.floating-div {
  flex-direction: column;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: auto;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* set to a higher value than the footer */
  width: 90%;
  padding: 10px;
  background-color: #0000003c;
  backdrop-filter: blur(16px);
  border: none;
  border-radius: 10px;
  color: white;
  animation: divspawn 0.2s;
}

.floating-div button {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  min-height: 40px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-family: Nunito;
  font-weight: 500;
  &:hover {
    background-color: var(--themeColorDark);
    color: white;
    cursor: pointer;
  }
}

.floating-div button i {
  margin-right: 5px;
}

// Favorites
div#favorites {
  display: flex;
  gap: 8px;
  width: 100%;
  &:empty {
    height: 7px;
    margin-top: -4px;
    position: relative;
    transform: translateY(40px);
    transition: 0.2s;
    &:-moz-drag-over {
      margin: top 5px;
      background: rgba(255, 255, 255, 0.071);
      border-radius: 18px;
      text-align: center;
      margin-top: 10px;
      padding: 10px;
      border: 2px solid var(--outlineColor);
      border-style: dashed;
      height: auto;
      transform: translateY(0px);
      &::after {
        color: white;
        content: "Quickly access your most viewed websites by dragging them here";
      }
    }
  }
}
button.favorite {
  background: #d1d1d120 !important;
  border-radius: 10px !important;
  height: 45px;
  width: 100%;
  display: inline;
  text-align: center;
  margin-top: 10px;
  padding: 10px !important;
  transition: background 0.1s, scale 0.2s;
  animation: favoritespawn 0.2s;
}

button.favorite:hover {
  background: #c0c0c02d !important;
}

button.favorite:active {
  scale: 0.97;
}

button.favorite[aria-label="favopen"] {
  background: #c7c7c743 !important;
}

button.favorite img {
  width: 18px;
  position: relative;
  top: 10%;
  pointer-events: none;
}

a {
  color: var(--themeColorLight) !important;
}

@keyframes divspawn {
  from {
    opacity: 0;
    scale: 0.93;
    margin-bottom: -10px;
    margin-left: -6px;
  }
}
@keyframes favoritespawn {
  from {
    scale: 0.97;
  }
}
