#TabsToolbar,
#navigator-toolbox,
#toolbar-menubar {
  visibility: collapse !important;
}

#titlebar {
  -moz-appearance: none !important;
  height: 30px !important;
  margin-top: -5px !important;
  margin-left: -5px !important;
  margin-right: -5px !important;
  border-radius: 30px 30px 0 0 !important;
  background-color: transparent !important;
  position: fixed !important;
  width: calc(100% + 10px) !important;
  z-index: 9999 !important;
  -webkit-app-region: drag !important;
}

#browser {
  border: 5px solid #3b3f52 !important;
  box-sizing: border-box;
}

/* Hide the sidebar title */
#sidebar-header {
   display: none;
}

/* Fix the sidebar size */
#sidebar {
  width: 300px; /* set the width */
  height: 100%; /* set the height to 100% to fill the available vertical space */
  overflow: auto; /* add scrolling if the content overflows */
}