@import url("modules/urlbar.css");

#appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  margin: 10px !important;
  margin-top: 30px !important;

  border-radius: 10px !important;
}

.browserStack {
  background: #3b3f52;
}

.browserContainer {
  background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-repeat: no-repeat, var(--lwt-background-tiling) !important;
  background-position:
    right top,
    var(--lwt-background-alignment) !important;
  background-color: var(
    --lwt-accent-color-inactive,
    var(--lwt-accent-color)
  ) !important;
}

#titlebar {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

#forward-button,
#back-button,
#reload-button {
  display: none !important;
}

#sidebar-button {
  margin-left: 10px !important;
}

#navigator-toolbox {
  width: 100%;
  height: 30px;
  top: 0;
  right: 0;

  position: fixed;
  overflow: var(--is-bar-visible, visible);
  border: 0px !important;
  background-color: transparent !important;
  z-index: 1;
}

#nav-bar {
  background-color: #3b3f52 !important;
}

toolbarbutton[open="true"] {
  --is-bar-visible: visible !important;
}

#sidebar-header {
  display: none;
}

#sidebar-box {
  min-width: 300px !important;
  max-width: 300px !important;
  min-height: unset !important;
  max-height: unset !important;

  border-right: none !important;
  z-index: 2;
}

#sidebar-splitter {
  display: none !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 2;
}
