<h3>General</h3>
<span>Open a Peek window when clicking on links with Shift held</span>
<input disabled type="checkbox" name="" id="" checked />
<h3>Favorites</h3>
<span>You need to restart to see the changes</span>
<br />
<br />
<input type="text" id="f1" placeholder="Favorite 1..." />
<input type="text" id="f2" placeholder="Favorite 2..." />
<input type="text" id="f3" placeholder="Favorite 3..." />
<button id="btn">Save changes</button>
<style>
  * {
    user-select: none;
  }
  body {
    font-family: Nunito;
    background-color: #1a1d25;
    color: white;
    padding: 10px;
  }
  @font-face {
    font-family: Nunito;
    src: URL("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  }
  h3 {
    margin: 15px 0 6px 0;
    padding: auto;
  }
</style>
<script src="settings.js"></script>
